{% load i18n %}
{% load static %}
    <div class="row row-centered">
        <div class="col-centered text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <a id="partner-1" href="#">
                <img class="img-responsive center-block" src="{% static 'images/logos/django.svg'%}" alt="" />
            </a>
        </div>
        <div class="col-centered text-center col-xs-12 col-sm-2 col-md-2 col-lg-2 col-centered">
            <a id="partner-2" href="#">
                <img class="img-responsive center-block" src="{% static 'images/logos/python.svg'%}" alt="" />
            </a>
        </div>
        <div class="col-centered text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <a id="partner-3" href="#">
                <img class="img-responsive center-block" src="{% static 'images/logos/html.svg'%}" alt="" />
            </a>
        </div>
        <div class="col-centered text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <a href="#">
                <img class="img-responsive center-block" src="{% static 'images/logos/ubuntu.svg'%}" alt="" />
            </a>
        </div>
        <div class="col-centered text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <a href="#">
                <img class="img-responsive center-block" src="{% static 'images/logos/postgresql.svg'%}" alt="" />
            </a>
        </div>
</div>
