{% extends 'base/base.html' %}
{% load static i18n %}
{% block content %}

<div class="contact-wrapper">
    <div class="contact-main jumbotron">
        <h1>{% trans 'Contact us' %}</h1>
    </div>
    <div class="container inner-section">
        <form action="" method="post">
            {% csrf_token %}
            {% if form %}
                {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="form-error">
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li> {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {{ field.label }}
                    {{ field }}
                </div>
                {% endfor %}
            {% endif %}
          <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </form>
    </div>
</div>

{% endblock content %}
