{% extends 'base/base_without_header.html' %}
{% load static %}
{% load i18n %}
{% block title-description %}
<title>{% trans "Error 500" %}</title>
<meta name="description" content="meta-description-example">
{% endblock %}
{% block extra_js %}
{%  endblock %}
{% block content %}
  <div class="index-wrapper">
      <div class="action-main jumbotron">
          <h1>{% trans 'SERVER ERROR!' %}</h1>
          <a type="button" href="{% url 'index' %}" class="btn btn-primary btn-lg" name="button">{% trans "Go back" %}</a>
      </div>
  </div>
{% endblock %}
