lanuage: python
python:
  - "2.7"
  - "3.5"
# command to install dependencies
install: 
  - sudo pip install -r project_name/requirements.txt
  - sudo pip install coveralls
  - cd ..
  - django-admin.py startproject --template=bedjango-starter/project_name --extension=py,rst,yml djangostarter
  - cd djangostarter
  - python manage.py migrate
# command to run tests
script:
  - coverage run --source=./ manage.py test --settings base.test_settings
after_success:
  - cp .coverage ../bedjango-starter/
  - cd ../bedjango-starter
  - coveralls
  
