@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700,900");
*,
:before,
:after {
  box-sizing: border-box;
}

/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS and IE text size adjust after device orientation
*    change, without disabling
*    user zoom.
*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
* Remove default margin.
*/
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   */
[hidden] {
  display: none;
}

/**
* Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
*/
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
* Improve readability of focused elements when they are also in an
* active/hover state.
*/
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted;
}

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
  font-weight: bold;
}

/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic;
}

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0.66667em 0;
}

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000;
}

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0;
}

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px;
}

/**
* Address differences between Firefox and other browsers.
*/
hr {
  box-sizing: content-box;
  height: 0;
}

/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto;
}

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal;
}

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
*/
input[type='search'] {
  box-sizing: content-box;
}

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto;
}

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * Mixins
 */
.hidden {
  display: none;
}

@font-face {
  font-family: 'jaapokki_subtractregular';
  src: url("../src/fonts/jaapokkisubtract-regular-webfont.eot");
  src: url("../src/fonts/jaapokkisubtract-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../src/fonts/jaapokkisubtract-regular-webfont.woff2") format("woff2"), url("../src/fonts/jaapokkisubtract-regular-webfont.woff") format("woff"), url("../src/fonts/jaapokkisubtract-regular-webfont.ttf") format("truetype"), url("../src/fonts/jaapokkisubtract-regular-webfont.svg#jaapokki_subtractregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  color: #5d5f65;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-variant-numeric: lining-nums;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b334a;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 900;
}

h1 {
  line-height: 0.8;
  margin: 0.77em 0;
  font-size: 4em;
  line-height: 72px;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

p.highlight {
  font-weight: 600;
}

p.smalltext {
  font-size: 0.875em;
  line-height: 1.71;
  font-weight: normal;
}

p.smallgray {
  color: #78909C;
}

p.extrasmallgray {
  color: #78909C;
  font-size: 0.75em;
}

a {
  color: #2b3a69;
  text-decoration: none;
}

a:hover {
  color: #2b334a;
  text-decoration: none;
}

head:before {
  position: absolute;
  right: 0;
  top: 120px;
  color: violet;
}

.no-grid head:before {
  display: none;
}

.grid {
  display: block;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

header {
  position: relative;
  background-color: transparent;
  height: 64px;
  padding: 0 5%;
}

header .background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header .background-wrapper img {
  position: absolute;
  left: 0;
  height: 288px;
  top: 0;
  width: 100%;
}

@media (min-width: 768px) {
  header .background-wrapper img {
    height: 500px;
  }
}

header .overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 288px;
  background-color: rgba(43, 51, 74, 0.6);
}

@media (min-width: 768px) {
  header .overlay {
    height: 500px;
  }
}

header.collapsed .background-wrapper {
  height: 80px;
  overflow: hidden;
}

header.collapsed .overlay {
  height: 80px;
}

@media (min-width: 768px) {
  header {
    padding: 0 5%;
    height: 80px;
  }
}

header nav.navbar {
  z-index: 3;
  height: 100%;
}

header nav.navbar .navbar-collapse {
  border-color: #2b334a;
  box-shadow: none;
  background-color: rgba(43, 51, 74, 0.9);
  right: 0;
  padding-top: 0.87em;
  position: absolute;
  width: 250px;
}

@media (min-width: 768px) {
  header nav.navbar .navbar-collapse {
    width: auto;
    position: relative;
  }
}

header nav.navbar .navbar-collapse ul.navbar-right {
  padding-left: 32px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  header nav.navbar .navbar-collapse {
    background-color: transparent;
    position: static;
  }
  header nav.navbar .navbar-collapse ul.navbar.right {
    padding: 0;
  }
}

@media (min-width: 768px) {
  header nav.navbar {
    background-color: transparent;
    left: 0;
    height: 100%;
  }
}

header nav.navbar .navbar-header {
  margin-top: 15px;
  transition: 0.5s ease;
}

header nav.navbar .navbar-header .navbar-brand {
  padding: 0;
}

@media (min-width: 768px) {
  header nav.navbar .navbar-header .navbar-brand {
    padding-top: 0.75em;
  }
}

header nav.navbar .navbar-header .navbar-brand img {
  height: 42px;
  width: 38px;
}

@media (min-width: 768px) {
  header nav.navbar .navbar-header .navbar-brand img {
    height: auto;
    margin-top: 0;
    width: auto;
    position: static;
  }
}

@media (min-width: 768px) {
  header nav.navbar .navbar-header {
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
}

header h1 {
  font-weight: normal;
  margin: 0;
  color: red;
}

header a {
  color: white;
  text-transform: uppercase;
}

header a:hover {
  color: white;
}

header .block-menu {
  position: relative;
  z-index: 2;
  padding: 1em 1em 1em 2em;
  float: left;
}

header .block-menu span {
  display: inline-block;
  padding: 0 1em;
}

header .block-menu a {
  text-align: center;
  font-size: 0.938em;
}

header .block-right {
  float: right;
  position: relative;
  right: 0;
  z-index: 5;
  margin-right: 1em;
  font-size: 0.875rem;
  padding: 0.5em 0;
}

header .block-right .block-language {
  float: right;
  display: inline-block;
  height: auto;
  margin-left: 0;
  padding: 0.5em;
}

header .block-right .logout a {
  padding: 1.25em;
  position: absolute;
  right: 102px;
  top: 9px;
}

header .block-right .block-login {
  float: right;
  margin-right: 58px;
}

header .block-right .block-login span {
  color: white;
}

.bg-color-white .breadcrumb {
  padding: 10px 0 0;
  background-color: transparent;
  position: relative;
  right: 15px;
  height: 42px;
  font-size: 1em;
  display: block;
}

.bg-color-white .breadcrumb a {
  background: none;
  text-transform: capitalize;
  padding: 0;
  color: #D81B60;
}

.bg-color-white .breadcrumb a.active {
  color: #78909C;
}

.bg-color-white .breadcrumb a.active::before {
  content: "";
}

.lang-sel {
  padding: 12px 0 12px 16px;
  margin-top: 5px;
}

.lang-sel select {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.navbar-custom {
  background: transparent;
  border: none;
  margin-bottom: 0;
}

.navbar-custom a {
  font-weight: 700;
  font-size: 0.9375rem;
}

.navbar-custom .navbar-text {
  color: white;
  margin-top: 20px;
}

.navbar-custom .navbar-nav > li > a {
  color: white;
  padding: 11.5px 31px;
}

@media (min-width: 768px) {
  .navbar-custom .navbar-nav > li > a {
    padding: 18px 12px 24px;
  }
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  color: white;
}

.navbar-custom .navbar-nav > li > a.btn-ghost {
  background: transparent;
  border: 1px solid white;
  display: inline-block;
  padding: 9px 24px;
  font-size: 0.8125rem;
  margin-top: 8px;
}

.navbar-custom .navbar-nav > li > a.btn-ghost:hover {
  background: #D81B60;
  border-color: #D81B60;
}

.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: transparent;
  border-left: 6px solid #D81B60;
  padding-left: 24px;
}

@media (min-width: 768px) {
  .navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: transparent;
    border-bottom: 6px solid #D81B60;
    border-left: none;
  }
}

.navbar-custom .navbar-toggle {
  border: none;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #D81B60;
}

.btn-registro {
  text-transform: none;
  font-size: 0.875rem;
  text-decoration: underline;
}

.btn-ghost {
  background: transparent;
  border: 1px solid white;
  padding: 6px 12px;
}

@media (min-width: 992px) {
  .navbar-custom .navbar-nav > li > a {
    padding: 18px 15px 24px;
  }
}

.errorlist {
  background-color: rgba(243, 80, 30, 0.2);
  border-radius: 2px;
  list-style: none;
  padding: 1em 0 1em 3.6em;
  position: relative;
}

.errorlist::after {
  position: absolute;
  content: "ERROR";
  top: 15.5px;
  left: 5px;
  color: #cd4419;
  font-weight: bold;
  font-size: 12px;
}

footer {
  padding: 5px 0;
  color: white;
  border-bottom: 0.125em dotted;
  position: relative;
  background-color: #2b334a;
}

footer a {
  color: white;
}

footer a:hover {
  color: #5d5f65;
}

footer .navbar .nav {
  width: 100%;
}

footer .navbar li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

footer .navbar li ul {
  list-style: none;
  padding-left: 15px;
}

footer .navbar li ul li {
  font-size: 1em;
  text-transform: none;
  font-weight: normal;
  padding-top: 10px;
}

footer .navbar li ul li:first-child {
  padding-top: 12px;
}

footer .navbar li ul li a {
  color: rgba(120, 144, 156, 0.8);
}

footer .block-social {
  padding-top: 1.619em;
  width: 310px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  float: none;
}

@media (min-width: 768px) {
  footer .block-social {
    margin: 0;
    float: right;
  }
}

footer .block-social span {
  position: absolute;
  bottom: 40px;
  left: 20px;
  text-transform: none;
  font-weight: normal;
  font-size: 12px;
  margin-top: 1em;
  color: rgba(120, 144, 156, 0.8);
}

footer .block-social .social-icons {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

footer .block-social .social-icons a {
  cursor: default;
  display: inline-block;
  margin-left: 10px;
  width: 41px;
}

footer .block-social .social-icons img {
  margin: 0px 0.313em 0px 0.313em;
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  clip: rect(0px, 42px, 43px, 0px);
}

footer .block-social .social-icons img:hover {
  clip: rect(48px, 42px, 96px, 0px);
  top: -35.5px;
}

prefooter {
  background: #d9dcdd;
  display: block;
  padding: 41px 0;
}

prefooter div div {
  padding: 20px 0;
}

@media (min-width: 768px) {
  prefooter div div {
    padding: 0;
  }
}

.flex-boxes {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.flex-boxes::after {
  clear: both;
  content: "";
  display: table;
}

.flex-box {
  position: relative;
  align-self: stretch;
  display: block;
  flex: 2 2 49.15254%;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 44em) {
  .flex-box {
    flex: 3 3 32.20339%;
  }
}

.flex-box img {
  display: block;
  width: 100%;
}

.flex-title {
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
  overflow: visible;
  white-space: normal;
  margin-bottom: 0.5em;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  color: white;
}

@media (min-width: 44em) {
  .flex-title {
    font-size: 2em;
  }
}

.flex- p {
  line-height: 1.5em;
  margin: auto;
}

.flex-box-big {
  flex: 1 1 100%;
  font-size: 1em;
}

@media (min-width: 44em) {
  .flex-box-big {
    flex: 2 2 49.15254%;
    font-size: 1em;
  }
}

.contact-wrapper {
  padding-bottom: 2em;
}

.contact-main {
  padding: 0;
}

.contact-main h1 {
  margin-top: 0;
  font-size: 32px;
  padding-top: 0.67em;
  color: #2b334a;
}

@media (min-width: 768px) {
  .contact-main h1 {
    font-size: 64px;
  }
}

.home .jumbotron h1 {
  color: #2b334a;
}

.information-panel {
  margin: 0;
  height: 400px;
}

@media (min-width: 768px) {
  .information-panel {
    height: 650px;
  }
}

.information-panel h1 {
  color: #2b334a;
  font-size: 32px;
  line-height: normal;
}

@media (min-width: 768px) {
  .information-panel h1 {
    font-size: 64px;
  }
}

.information-panel h3 {
  font-size: 24px;
}

@media (min-width: 768px) {
  .information-panel h3 {
    font-size: 32px;
  }
}

.information-panel a {
  margin-top: 3em;
}

.home-cards {
  position: relative;
  padding-bottom: 100px;
}

.home-cards .card {
  padding: 0;
  width: 360px;
}

.home-cards .card .panel-footer {
  background-color: white !important;
}

.home-cards .card .panel-footer button {
  text-align: center;
}

.home-cards .card .panel-heading {
  padding: 0;
}

.home-cards .card .panel-heading img {
  height: 240px;
}

.home-cards .card .panel-body {
  height: 143px;
}

.home-cards .card .panel-body h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
}

.home-cards .card .panel-body p {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

.index-wrapper .action-main h1 {
  position: relative;
  color: #fff;
  font-size: 32px;
  margin-top: 0;
}

@media (min-width: 768px) {
  .index-wrapper .action-main h1 {
    font-size: 64px;
    margin-top: 0.67em;
  }
}

.index-wrapper .icon-container {
  position: static;
  background-color: #ECEFF1;
  padding: 48px 0;
}

.index-wrapper .icon-container div h5 {
  color: #78909C;
  font-size: 24px;
  line-height: 1.33;
}

.index-wrapper .icon-container.carousel {
  position: relative;
  margin-bottom: 0;
}

.index-wrapper .icon-container.carousel .carousel-control {
  background-image: none;
}

.index-wrapper .icon-container.carousel .carousel-inner {
  overflow: visible;
}

.index-wrapper .icon-container.carousel .carousel-inner .item .carousel-caption {
  text-shadow: none;
}

.index-wrapper .icon-container.carousel .carousel-inner .item .carousel-caption h5 {
  position: relative;
  top: 60px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .index-wrapper .icon-container.carousel {
    display: none;
  }
}

.index-wrapper .icon-container.desktop-descriptors {
  display: none;
}

@media (min-width: 768px) {
  .index-wrapper .icon-container.desktop-descriptors {
    display: block;
    margin-bottom: 0;
    margin-top: 100px;
  }
}

.index-wrapper .icon-container .big-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 32px;
}

.index-wrapper .icon-container .big-icon path {
  fill: #29A156;
}

.node__links {
  line-height: 1.5;
}

.registration-layout {
  text-align: left;
}

@media (min-width: 768px) {
  .registration-layout {
    padding-bottom: 80px;
  }
}

.registration-layout .registration-form-wrapper .registration {
  padding: 0;
  margin-bottom: 0;
}

.registration-layout .registration-form-wrapper .registration h1 {
  position: static;
  text-align: left;
  margin-top: 0;
  padding-left: 6%;
  padding-top: 0.67em;
  padding-right: 0;
  font-size: 32px;
}

@media (min-width: 768px) {
  .registration-layout .registration-form-wrapper .registration h1 {
    font-size: 48px;
  }
}

@media (min-width: 890px) {
  .registration-layout .registration-form-wrapper .registration h1 {
    font-size: 64px;
  }
}

@media (min-width: 768px) {
  .registration-layout .registration-form-wrapper .create-account-form {
    margin-top: 0;
    margin-left: 6%;
    position: relative;
  }
}

.registration-layout .registration-form-wrapper .create-account-form form {
  background-color: white;
}

@media (min-width: 768px) {
  .registration-layout .registration-form-wrapper .create-account-form form {
    width: 842px;
    height: 335px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
  }
}

.registration-layout .registration-form-wrapper .create-account-form form .image-separator {
  width: 40%;
  margin-right: 40px;
  display: inline-block;
  vertical-align: top;
}

.registration-layout .registration-form-wrapper .create-account-form form .image-separator img {
  width: 100%;
}

.registration-layout .registration-form-wrapper .create-account-form form .registration-form {
  padding-top: 36px;
}

@media (min-width: 768px) {
  .registration-layout .registration-form-wrapper .create-account-form form .registration-form {
    display: inline-block;
    width: 54%;
  }
}

.registration-layout .registration-form-wrapper .create-account-form form .registration-form .action-call {
  padding-bottom: 2em;
}

@media (min-width: 768px) {
  .registration-layout .registration-form-wrapper .create-account-form form .registration-form .action-call {
    padding-bottom: 0;
  }
}

.registration-layout .registration-form-wrapper .create-account-form form .registration-form .action-call span {
  display: block;
  font-size: 12px;
  color: #78909C;
  border-left: 2px solid #78909C;
  padding: 0 3%;
  margin-bottom: 29px;
  margin-top: 20px;
  margin-left: 4%;
}

@media (min-width: 768px) {
  .registration-layout .registration-form-wrapper .create-account-form form .registration-form .action-call span {
    padding-left: 0 10px 0 0;
    padding-right: 0;
    margin-left: 0;
  }
}

.registration-layout .registration-form-wrapper .create-account-form form .registration-form .action-call button {
  padding: 10px 40px;
  background-color: #D81B60;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
  border-radius: 2px;
  margin: 0 auto 1em auto;
  display: block;
}

.registration-layout .registration-form-wrapper .create-account-form form .registration-form .action-call button:hover {
  background-color: #ff388b;
}

@media (min-width: 768px) {
  .registration-layout .registration-form-wrapper .create-account-form form .registration-form .action-call button {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .registration-layout .registration-form-wrapper .create-account-form form .registration-form .fields-separator {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.registration-layout .registration-form-wrapper .create-account-form form .registration-form .fields-separator .form-group {
  width: 100%;
  margin-left: 7%;
  margin-right: 7%;
  position: relative;
}

@media (min-width: 768px) {
  .registration-layout .registration-form-wrapper .create-account-form form .registration-form .fields-separator .form-group {
    width: 50%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.registration-layout .registration-form-wrapper .create-account-form form .registration-form .fields-separator .form-group label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #2b334a;
}

.registration-layout .registration-form-wrapper .create-account-form form .registration-form .fields-separator .form-group .msg {
  position: absolute;
  bottom: -16px;
  left: 0;
  font-size: 12px;
}

.registration-layout .registration-form-wrapper .create-account-form form .registration-form .fields-separator .form-group .msg.ok {
  color: #29a156;
}

.registration-layout .registration-form-wrapper .create-account-form form .registration-form .fields-separator .form-group .msg.wrong {
  color: red;
}

.registration-layout .registration-form-wrapper .create-account-form form .registration-form .fields-separator .form-group input {
  height: 40px;
  width: 100%;
  padding-left: 12px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #cfd8dc;
}

@media (min-width: 768px) {
  .registration-layout .registration-form-wrapper .create-account-form form .registration-form .fields-separator .form-group input {
    width: 188px;
  }
}

.blog-content .blog-image {
  position: absolute;
  max-height: 450px;
  top: 0;
  left: 0;
  width: 100%;
}

.blog-content .blog-title {
  z-index: 999;
  position: relative;
}

.blog-content .blog-title h1 {
  color: white;
  text-align: center;
}

.blog-content .author {
  z-index: 999;
  position: relative;
}

.blog-content .author img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  display: block;
  border: none;
  margin: 0 auto;
}

.blog-content .author span {
  color: white;
  display: block;
  margin: 0 auto;
  font-size: 14px;
}

.blog-content .blog-article {
  max-width: 810px;
  position: relative;
  margin: 200px auto 0 auto;
  padding-bottom: 2em;
}

.blog-content .blog-article p {
  line-height: 2;
  font-size: 16px;
  letter-spacing: normal;
  text-align: left;
  font-style: normal;
  margin-bottom: 0;
  font-stretch: normal;
}

.blog-content .blog-article p .intro-letter {
  font-size: 96px;
  padding-right: 10px;
  color: #29A156;
  letter-spacing: normal;
  font-style: normal;
  font-stretch: normal;
  float: left;
  width: auto;
  line-height: 92px;
}

.no-header {
  background-color: #78909C;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 10% 10%;
  height: 100%;
}

.registered {
  text-align: center;
}

.registered a {
  margin-top: 2em;
  margin-bottom: 4em;
}

.password-reset {
  margin: 0;
}

.password-reset .container p {
  padding-bottom: 0.7em;
}

.password-reset form {
  padding-bottom: 3em;
}

.password-reset form .form-group .pass-wrapper {
  position: relative;
  padding-bottom: 1em;
  display: inline-block;
}

.password-reset form .form-group .msg {
  left: 0;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  width: 250px;
  text-align: left;
}

.password-reset form .form-group .msg.ok {
  color: #29a156;
}

.password-reset form .form-group .msg.wrong {
  color: red;
}

.password-reset form input[type="submit"] {
  margin-top: 3em;
}

.base {
  margin: auto !important;
  text-align: center !important;
  background-color: #ECEFF1;
}

.login {
  margin: auto;
  text-align: center;
}

.btn-registrate.disabled {
  background-color: #d9dfe3 !important;
  color: #b0bec5 !important;
  position: relative;
}

.btn.btn-danger {
  padding: 8px 32px;
  background-color: #D81B60;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
  background-color: white;
  border: 1px solid #2b334a;
  color: #2b334a;
}

.btn.btn-danger:hover {
  background-color: #ff388b;
}

.btn.btn-danger:hover {
  background: none;
}

.btn.btn-primary {
  padding: 8px 32px;
  background-color: #D81B60;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
  border-radius: 2px;
}

.btn.btn-primary:hover {
  background-color: #ff388b;
}

.btn.btn-primary.btn-lg {
  padding: 19px 56px;
  background-color: #D81B60;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.btn.btn-primary.btn-lg:hover {
  background-color: #ff388b;
}

.btn.btn-primary.btn-lg.disabled {
  background-color: #d9dfe3;
  color: #b0bec5;
  position: relative;
}

.btn.btn-primary.btn-md {
  padding: 15px 48px;
  background-color: #D81B60;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.btn.btn-primary.btn-md:hover {
  background-color: #ff388b;
}

.btn.btn-primary.btn-md.disabled {
  background-color: #d9dfe3;
  color: #b0bec5;
  position: relative;
}

.btn.btn-primary.btn-sm {
  padding: 12px 40px;
  background-color: #D81B60;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.btn.btn-primary.btn-sm:hover {
  background-color: #ff388b;
}

.btn.btn-primary.btn-sm.disabled {
  background-color: #d9dfe3;
  color: #b0bec5;
  position: relative;
}

.btn.btn-primary.btn-xs {
  padding: 8px 32px;
  background-color: #D81B60;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.btn.btn-primary.btn-xs:hover {
  background-color: #ff388b;
}

.btn.btn-primary.btn-xs.disabled {
  background-color: #d9dfe3;
  color: #b0bec5;
  position: relative;
}

.svg-wrapper {
  margin-bottom: 0.5em;
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  color: white;
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  margin-bottom: -40px;
}

.dropdown {
  position: relative;
  z-index: 8;
  text-align: right;
  margin-right: 20px;
  max-height: 40px;
  margin-bottom: -40px;
}

.dropdown-container {
  display: inline-block;
  position: relative;
  text-align: center;
}

.dropdown-button {
  cursor: pointer;
  float: right;
  font-size: 1.2em;
  margin: 0;
  position: relative;
  color: white;
}

.dropdown-button img {
  vertical-align: top;
  width: 32px;
  height: auto;
}

.dropdown-button:after {
  color: red;
  content: "\25BE";
  font-size: 1.2em;
  display: block;
  position: absolute;
  right: -15px;
  top: -5px;
}

.dropdown-menu {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #5d5f65;
  cursor: pointer;
  display: none;
  margin: 0;
  overflow: show;
  padding: 0;
  position: absolute;
  right: 0;
  top: 35px;
  width: auto;
  z-index: 99999;
}

.dropdown-menu:before {
  position: absolute;
  top: 0;
  right: 1em;
  bottom: 0;
  left: 0;
  content: "\25b2";
  font-size: 1.4em;
  pointer-events: none;
  text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.3);
  top: -0.7em;
  text-align: right;
}

.dropdown .show-menu {
  display: block;
}

body {
  transition: max-width 0.35s ease-out, max-height 0.35s ease-out;
}

#resizer {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#resizer ul {
  font-size: 17px;
  filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.25));
  transform: translateZ(0);
  margin: -0.2em auto 0;
}

#resizer ul li {
  display: inline-block;
}

#resizerFrame {
  transition: max-width 0.35s ease-out, max-height 0.35s ease-out;
}

button.rotate i:before, button[data-rotate] i:before {
  transition: all 0.15s linear;
}

.landscape i:before {
  transform: rotate(-90deg);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0;
}

#modal-login {
  width: 247px;
  overflow: visible !important;
}

#modal-login .white_pointer {
  position: absolute;
  height: 0;
  width: 0;
  top: -15px;
  right: 35px;
  border: 8px solid transparent;
  border-bottom: 8px solid white;
}

#modal-login .modal-content {
  position: relative;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

#modal-login .modal-content .modal-footer {
  text-align: center;
}

#modal-login .modal-content .modal-footer::after {
  padding-bottom: 1em;
}

#modal-login .modal-content .modal-footer .modal-information-message {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #78909C;
  padding-bottom: 13px;
  text-align: center;
  margin-bottom: 13px;
  text-transform: uppercase;
}

#modal-login .modal-content .modal-footer a {
  padding: 12px 45px;
  background-color: #D81B60;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
  background-color: white;
  color: #2b334a;
  border: 1px solid #2b334a;
  border-radius: 2px;
  margin-bottom: 9px;
}

#modal-login .modal-content .modal-footer a:hover {
  background-color: #ff388b;
}

#modal-login .modal-content .modal-body form label {
  display: block;
  margin-top: 17px;
}

#modal-login .modal-content .modal-body form label:last-child {
  margin-top: 35px;
}

#modal-login .modal-content .modal-body form input {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  padding-left: 12px;
  border: 1px solid #cfd8dc;
}

#modal-login .modal-content .modal-body form input[type='submit'] {
  padding: 4px 10px;
  background-color: #D81B60;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
  margin-top: 32px;
}

#modal-login .modal-content .modal-body form input[type='submit']:hover {
  background-color: #ff388b;
}

#modal-login .modal-content .modal-body form a {
  color: #D81B60;
  font-size: 14px;
  margin-top: 19px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.list-with-badges {
  text-align: left;
  counter-reset: li;
}

.list-with-badges li {
  position: relative;
  padding-left: 4em;
}

.list-with-badges li .badge {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #29a156;
}

.list-with-badges li::before {
  counter-increment: li;
  content: counter(li);
  position: absolute;
  left: 16px;
  color: #78909c;
}

.list-with-badges li:nth-last-child(4n+1) span {
  background-color: #ffb300;
}

.list-with-badges li:nth-last-child(4n+2) span {
  background-color: #f4511e;
}

.list-with-badges li:nth-last-child(4n+3) span {
  background-color: #78909c;
}

.django-list {
  text-align: left;
}

.django-list a h4 {
  font-size: 14px;
  color: #78909c !important;
  font-weight: bold !important;
  text-transform: uppercase;
  font-family: "Raleway" !important;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 0.4em;
  margin-bottom: 0.7em;
}

.django-list a p {
  font-size: 14px;
}

.bootstrap-table .fixed-table-container {
  border: 0;
}

.bootstrap-table .fixed-table-container .fixed-table-pagination .pull-right .pagination li.active a {
  border-bottom: 1px solid #2b334a;
}

.bootstrap-table .fixed-table-container .fixed-table-pagination .pull-right .pagination li a {
  border: 0;
  padding: 0;
  background-color: transparent;
  margin: 0.5em 0.3em;
  color: #2b334a;
}

.bootstrap-table .fixed-table-container .fixed-table-body {
  border: 1px solid #ddd;
}

.bootstrap-table .fixed-table-container .fixed-table-body table tbody tr {
  background-color: #fff;
}

.bootstrap-table .fixed-table-container .fixed-table-body table tbody tr:hover {
  background-color: #ECEFF1;
}

.bootstrap-table .fixed-table-container .fixed-table-body table tbody td {
  border-left: 0;
}

.django-panel {
  text-align: left;
}

.django-panel .panel-heading h2 {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.django-panel .panel-heading .panel-body p {
  font-size: 14px;
  line-height: 1.71;
  font-weight: normal;
  letter-spacing: normal;
  font-style: normal;
}

/*# sourceMappingURL=maps/main.css.map */
