{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block extra_js %}
    <script src="{% static 'js/change_password_validator.js' %}" charset="utf-8"></script>
{%  endblock %}

{% block content %}
  <div class="registration-layout">
    <div class="registration-form-wrapper">
        <div class="registration jumbotron">
            <h1>{% trans "Change your password" %}</h1>
        </div>
        <div class="create-account-form">
            <form method="POST" action="" novalidate="novalidate">
                <div class="registration-form container">
                 {% csrf_token %}
                     <div class="fields-separator">
                     {% for field in form %}
                             <div class="form-group">
                               {% if field.errors %}
                                   {% for error in field.errors %}
                                       <p class="field-error">{{ error }}</p>
                                   {% endfor %}
                               {% endif %}
                               {{ field.label_tag }}
                               {{ field }}
                             </div>
                     {% endfor %}
                       </div>
                     <div class="action-call">
                         <span>{% trans "Password must be at least 8 characters and contain lowercase and uppercase letters, numbers and special characters." %} </span>
                         <button id="id_change" type="submit" class="btn-registrate">{% trans "Change password" %}</button>
                     </div>
                </div>
           </form>
        </div>
      </div>
    </div>
{% endblock %}
